.text-center
  .col-md-6.col-md-offset-3
    %h1
      %strong Contribute to the Destiny 
      %br/
      %strong Of our country
    %h3
      %strong Exercise your right to vote
    %br/
  .col-md-10.col-md-offset-1.panel.padding.bg-transparent
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      %h2 Sign up
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .field
        = f.label :password
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
        %hr
        .field
        = f.label :national_id_number
        %br/
        = f.password_field :national_id_number
        .field
        = f.label :first_name
        %br/
        = f.password_field :first_name
        .field
        = f.label :last_name
        %br/
        = f.password_field :last_name
        .field
        = f.label :gender
        %br/
        = f.password_field :gender
        .field
        = f.label :street_address
        %br/
        = f.password_field :street_adderss
        .field
        = f.label :date_of_birth
        %br/
        = f.password_field :date_of_birth
        .field
        = f.label :civil_status
        %br/
        = f.password_field :civil_status
        .field
        = f.label :citizenship
        %br/
        = f.password_field :citizenship
        .field
        = f.label :profession
        %br/
        = f.password_field :profession
        .field
        = f.label :tin_number
        %br/
        = f.password_field :tin
        .field
        = f.label "Father's first name"
        %br/
        = f.password_field :first_name_father
        .field
        = f.label "Father's last name"
        %br/
        = f.password_field :last_name_father
        .field
        = f.label "Mother's first name"
        %br/
        = f.password_field :first_name_mother
        .field
        = f.label "Mohter's last name"
        %br/
        = f.password_field :last_name_father

      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"
