= simple_form_for @user, html:{class: 'form-horizontal', role: 'form'} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message 
  = f.input :national_id_number          
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :date_of_birth, as: :string, input_html: { 'data-provide' => 'datepicker'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit