.row
 .col-md-12
  %h1
   Profile
   = link_to home_path, class: "btn btn-warning btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Back to Home" do
    %span.glyphicon.glyphicon-home
 
.panel.panel-default.bg-transparent
 %table.table.table-condensed
  %tr
   %th Email:
   %td= @user.email
  %tr
   %th National ID Number:
   %td= @user.national_id_number
  %tr
   %th First Name:
   %td= @user.first_name
  %tr
   %th Middle Name:
   %td= @user.middle_name
  %tr
   %th Last Name:
   %td= @user.last_name
  %tr
   %th Gender
   %td= @user.gender
  %tr
   %th Street Address
   %td= @user.street_adderss
  %tr
   %th Date Of Birth
   %td= @user.date_of_birth
  %tr
   %th Civil Status
   %td= @user.civil_status
  %tr
   %th Profession
   %td= @user.profession
  %tr
   %th Tin Number
   %td= @user.tin
  %tr
   %th Father's First Name
   %td= @user.first_name_father
  %tr
   %th Father's Last Name
   %td= @user.last_name_father
  %tr
   %th Mother's First Name
   %td= @user.first_name_mother
  %tr
   %th Mother's First Name
   %td= @user.first_name_mother
