.row
 .col-md-12
  .page-header
   %h1
    Candidates Index

  .panel.panel-default
   .panel-heading Running For President
   .panel-body.bg-transparent
    - @candidates.where(:position=>"President").each do |candidate|
     .col-md-6
      .media
       .media-left.media-top
        = link_to candidate, title: "Show candidate" do
         %img{:class => 'media-object', :src => candidate.avatar, :alt => 'candidate image'}
       .media-body
        %h2.media-heading= candidate.name
        %h3= candidate.position
        %p= candidate.agenda
        - if (candidate.voted_by == current_user.id)
         %h6
          .btn.btn-success.btn-group-xs
           %span.glyphicon.glyphicon-ok
           VOTED
        - elsif ((Candidate.where(:position => "President" , :voted_by => current_user.id)).count!=0)
         %h6
        -else
         %p
          .btn-group.btn-group-xs
           = link_to  upvotes_candidate_path(candidate, :user_id=>current_user.id), class: 'btn btn-primary', method: :post do
            %span.glyphicon.glyphicon-plus
            VOTE

   .panel.panel-default
   .panel-heading Running For Vice President
   .panel-body.bg-transparent
    - @candidates.where(:position=>"Vice President").each do |candidate|
     .col-md-6
      .media
       .media-left.media-top
        = link_to candidate, title: "Show candidate" do
         %img{:class => 'media-object', :src => candidate.avatar, :alt => 'candidate image'}
       .media-body
        %h2.media-heading= candidate.name
        %h3= candidate.position
        %p= candidate.agenda
        - if (candidate.voted_by == current_user.id)
         %h6
          .btn.btn-success.btn-group-xs
           %span.glyphicon.glyphicon-ok
           VOTED
        - elsif ((Candidate.where(:position => "Vice President" , :voted_by => current_user.id)).count!=0)
         %h6
        -else
         %p
          .btn-group.btn-group-xs
           = link_to  upvotes_candidate_path(candidate, :user_id=>current_user.id), class: 'btn btn-primary', method: :post do
            %span.glyphicon.glyphicon-plus
            VOTE

  .panel.panel-default
   .panel-heading Running For Senator
   .panel-body.bg-transparent
    - @candidates.where(:position=>"Senator").each do |candidate|
     .col-md-6
      .media
       .media-left.media-top
        = link_to candidate, title: "Show candidate" do
         %img{:class => 'media-object', :src => candidate.avatar, :alt => 'candidate image'}
       .media-body
        %h2.media-heading= candidate.name
        %h3= candidate.position
        %p= candidate.agenda
        - if (candidate.voted_by == current_user.id)
         %h6
          .btn.btn-success.btn-group-xs
           %span.glyphicon.glyphicon-ok
           VOTED
        - elsif ((Candidate.where(:position => "Senator" , :voted_by => current_user.id)).count!=0)
         %h6
        -else
         %p
          .btn-group.btn-group-xs
           = link_to  upvotes_candidate_path(candidate, :user_id=>current_user.id), class: 'btn btn-primary', method: :post do
            %span.glyphicon.glyphicon-plus
            VOTE