%h1 Listing candidates

%table
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Position
      %th Age
      %th Agenda
      %th Achievements
      %th Votes rendered
      %th
      %th
      %th

  %tbody
    - @candidates.each do |candidate|
      %tr
        %td= candidate.first_name
        %td= candidate.middle_name
        %td= candidate.last_name
        %td= candidate.position
        %td= candidate.age
        %td= candidate.agenda
        %td= candidate.achievements
        %td= candidate.votes_rendered
        %td= link_to 'Show', candidate
        %td= link_to 'Edit', edit_candidate_path(candidate)
        %td= link_to 'Destroy', candidate, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Candidate', new_candidate_path
