.row
 .col-md-12
  %h1
   Profile
   = link_to candidates_path, class: "btn btn-warning btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Back to Candidates" do
    %span.glyphicon.glyphicon-list-alt
 
.panel.panel-default.bg-transparent
 %table.table.table-condensed
  %tr 
   %th Running For:
   %td= @candidate.position
  %tr 
   %th First Name:
   %td= @candidate.first_name
  %tr 
   %th Last Name:
   %td= @candidate.last_name
  %tr 
   %th Agenda
   %td= @candidate.agenda
  %tr 
   %th Achievements
   %td= @candidate.achievements
