%h1 Listing provinces

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @provinces.each do |province|
      %tr
        %td= province.name
        %td= link_to 'Show', province
        %td= link_to 'Edit', edit_province_path(province)
        %td= link_to 'Destroy', province, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Province', new_province_path
