!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Justice League'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Justcice League'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .bg-img
    %header
      = render 'layouts/navigation'
    = render 'layouts/messages'
    %main{:role => "main"}
      .content
        = yield

= javascript_include_tag :defaults, :cache => true      